body {
    height: 100%;
    width: 100%;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    min-height: 30%;
    width: 100%;
}
.hide{
    display: none;
}