body {
    height: 100%;
    width: 100%;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #b0b9be;
}
main{
    min-height: 30%;
    width: 100%;
}
.hide{
    display: none;
}
.greet{
    font-family: brown-sugar;
}